<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
	<meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0" name="viewport"/>
	<meta content="240" name="MobileOptimized"/>
 <style type="text/css">
	body, ul, li{
		padding: 0;
		margin: 0;
	}
	a:link {
		text-decoration:none;
	}
	a{
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	body{
		width: 100%;
		background-color: #eee;
	}
	
	
	.contacts li a{
		width:87%;
		display: block;
		padding:10px 5% 10px 3%;
		margin: 10px;
		background-color: #fff;
		border-radius: 8px;
	}
	.name{
		font-size: 20px;
		font-weight: 700;
		color:#000;
		display: block;
	}
	.phone{
		text-align: right;
		color: #666;
		text-align: left;
		display: block;
		margin-top:5px;
		line-height: 24px;
		height: 24px;
	}
	.phone span{
		 
		background: url("<%= asset_path 'hotline/phone_ico.png' %>")  no-repeat;
		padding-left: 24px;
	}
	
</style>
</head>
<body>
	<ul class="contacts">
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2168693');">
				<span class="name">安全生产监督管理局</span>
				<span class="phone"><span>0996-2168693</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2280994');">
				<span class="name">畜牧兽医局</span>
				<span class="phone"><span>0996-2280994</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2210060');">
				<span class="name">发展和改革委员会</span>
				<span class="phone"><span>0996-2210060</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2029593');">
				<span class="name">交通局</span>
				<span class="phone"><span>0996-2029593</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2168428');">
				<span class="name">商务和经济信息化委员会</span>
				<span class="phone"><span>0996-2168428</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2168626');">
				<span class="name">纪委监察局</span>
				<span class="phone"><span>0996-2168626</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2024295');">
				<span class="name">水事务管理局</span>
				<span class="phone"><span>0996-2024295</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2038060');">
				<span class="name">人口与计划生育委员会</span>
				<span class="phone"><span>0996-2038060</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2280826');">
				<span class="name">农业局</span>
				<span class="phone"><span>0996-2280826</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2210229');">
				<span class="name">审计局</span>
				<span class="phone"><span>0996-2210229</span></span>
			</a>
		</li>
		<li class="ou">
			<a href="javascript:window.JSphone.call('0996-2106216');">
				<span class="name">林业局</span>
				<span class="phone"><span>0996-2106216</span></span>
			</a>
		</li>
	</ul>

</body>
</html>