<!DOCTYPE html>
<html>
<head>
  <title>Wisdom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span9">
				<div class="well">
					<!--Body content-->
					<%= yield %>
				</div>
	      <!--Sidebar content-->
	    </div>
	    <div class="span3">
				<div class="well sidebar-nav">
					news list
				</div>
	    </div>
	  </div>
	</div>


</body>
</html>
